{% extends 'shop/layout.html' %}

{% block content %}
    {{  block.super }}
        <form action="" method="GET">
            <input type="text" name="q" value="{{ q }}" />
            <input type="submit" value="search" />
        </form>

        <ul>
            {% for item in item_list %}
                <li>
{#                    사실 이런식의 코딩은 바람직하지 않음. 다음 에피에서 URL Reverse를 배울 것 #}
                    <a href="/shop/{{ item.pk }}">
                        {{ item.name }}
                    </a>
                    {{ item.price }}
                    {{ item.desc }}
                </li>
            {% endfor %}
        </ul>
{% endblock %}

